.propertiesx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    margin-top: 40px;
}

.locationx{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #333333;
    border-radius: 8px;
    color: white;
}


.malibu{
    color: white;
}

.seasidex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.pricex{
    display: flex;
    flex-direction: column;
    line-height: 0px;
    color: white;
}


.xproperties{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}

.geniusYeah{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #333333;
    width: 1200px;
    border-radius: 10px;
    background-color: #141414;
    /* padding-left: 80px; */
    /* padding-right: 80px; */
}

.better{
    border: 1px solid #333333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 110px;
    background-color: #262626;
}

.badtguy{
    display: flex;
    justify-content: center;

}

.classicman{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;

}


.legolas{
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #333333;

}

.legolas1{
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #242424;
    background-color: #242424;
}

.shapes{
    width: 100px;
    height: 100px;
    background-color: skyblue;

}

.pageon{
    background-color: #703bf7;
}

.buttons{
    border: 0px;
    height: 1px;
}

.pageson{
    display: flex;
    justify-content: center;
    gap: 3px;
}

.howdy{
    display: flex;
    justify-content: space-around;
    border: 1px solid #141414;
    width: 200px;
    padding: 8px;
    border-radius: 50px;
    background-color: #141414;
}

.noirarrows{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #141414;
}

.history{
    display: flex;
    justify-content: center;
    margin-top: -80px;

}

.tinypartment{
    padding-bottom: 40px;
    color: #999;
}