.propertiesx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    margin-top: 40px;
}

.locationx{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #333333;
    border-radius: 8px;
    color: white;
}


.malibu{
    color: white;
}

.seasidex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.pricex{
    display: flex;
    flex-direction: column;
    line-height: 0px;
    color: white;
}


.xproperties{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}

.geniusYeah{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #333333;
    width: 1200px;
    border-radius: 10px;
    background-color: #141414;
    /* padding-left: 80px; */
    /* padding-right: 80px; */
}

.better{
    border: 1px solid #333333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 150px;
    background-color: #262626;
}

.badtguy{
    display: flex;
    justify-content: center;

}

.classicman{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;

}


.legolas{
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #333333;

}

.legolas1{
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #242424;
    background-color: #242424;
}

.shapes{
    width: 100px;
    height: 100px;
    background-color: skyblue;

}

.pageon{
    background-color: #703bf7;
}

.buttons{
    border: 0px;
    height: 1px;
    background-color: #333333;
}

.pageson{
    display: flex;
    justify-content: center;
    gap: 3px;
}

.howdy{
    display: flex;
    justify-content: space-around;
    border: 1px solid #141414;
    width: 200px;
    padding: 8px;
    border-radius: 50px;
    background-color: #141414;
}

.noirarrows{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #141414;
}

.history{
    display: flex;
    justify-content: center;
    margin-top: -110px;

}

.geniusclass{
    display: flex;
    gap: 90px;
    margin-top: 45px;
    border: 1px solid #333333;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.giants{
    display: flex;
    flex-direction: column;
    border: 1px solid #333333;
    margin-top: 8px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-left: 10px;
}

#giantess{
    border-left: none;
}

.paragh{
    color: white;
    margin-top: -3px;
}

.santa{
    color: white;
}

.santafe{
    margin-bottom: 0px;
}

.santaboss{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
    /* width: 1280px; */
    padding-left: 80px;
    padding-right: 80px;
}

.betterbest{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0.1px solid #333333;
    padding-left: 20px;
    border-left-color: #703bf7;
    border-right: none;
    border-top: none;
    border-bottom: none;
    /* border-style: solid; */
    box-shadow: inset 5 5 5 10px linear-gradient(to right, pink skyblue);
}

.betterthebest{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-left: 40px;
    padding-right: 40px; */
}

.bosslevelbadtguy{
    color: white;
    background-color: #141414;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 40px;
    border: 1px solid #333333;
    width: 625px;
    border-radius: 10px;
}

.santafes{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    border: 1px solid #333333;
    padding-left: 40px;
    padding-top: 15px;
    width: 625px;
    height: 300px;
    border-radius: 10px;
}

/* .santabosses{
    display: flex;

    /* padding-left: 80px; */
    /* padding-right: 80px; */
    /* border: 1px solid pink; */
/* } */

.toogood{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 288.5px;
    background-color: #262626;
    border: 0px;
    border-radius: 5px;
}

.historygood{
    /* display: flex; */
    justify-content: space-between;
    gap: 30px;
    border: 1px solid #333333;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.starkses{
    margin-top: 100px;
    display: flex;
    gap: 90px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #141414;
    color: white;
}

.youaregoodguy{
    display: block;
}

.inputs1{
    display: flex;
    gap: 30px;

}
.inputs2{
    display: flex;
    gap: 30px;
}

.toogoods{
    width: 640px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #262626;
    border: 0px;
    border-radius: 5px;
}

.toogoodss{
    width: 640px;
    height: 122px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #262626;
    border: 0px;
    border-radius: 5px;
}

.wowz{
    display: flex;
    gap: 10px;
    align-items: center;
}

.wowzers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.sendmessage{
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: white;
    background-color: #703bf7;
    border-radius: 5px;
    border: 0px;
}

.checkboxess{
    background-color: pink;
    border: 0px;
    outline: none;
}

.notethefigures{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 40px;
    color: white;
}

.figures2{
    /* padding-left: 80px; */
    /* padding-right: 80px; */
    background-color: #262626;
    border: 1px solid #262626;
    border-radius: 10px;
}

.outstandingguy{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px;
}

.listingprice{
    /* display: flex; */
    /* justify-content: space-between; */
    color: white;
    margin-top: -430px;
}

.learnmore{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.additional{
    display: flex;
    justify-content: space-between;
    gap: 680px;
}

.additionalxxss{
    display: flex;
    justify-content: space-evenly;
    gap: 680px;
}

.additionalxs{
    display: flex;
    justify-content: space-between;
    gap: 690.9px;
}

.dollars{
    display: flex;
    align-items: center;
    gap: 10px;
}

.legalproperty{
    display: flex;
    gap: 120px;
    border: 1px solid #262626;
    border-left: none;
    border-right: none;
    padding-top: 10px;
    /* padding-left: 20px; */
    margin-bottom: -20px;
}

.legalproperties{
    display: flex;
    gap: 120px;
    border: 1px solid #262626;
    border-left: none;
    border-right: none;
    border-top: none;
    /* margin-top: -1px; */
    /* margin-bottom: 5px; */
}

.legalpropertiesxs{
    display: flex;
    gap: 120px;
    border: 1px solid #262626;
    border-left: none;
    border-right: none;
    border-top: none;
    /* margin-top: -1px; */
    /* margin-bottom: 5px; */
}

.thebestyou{
    /* display: block; */
    color: white;
    line-height: 10px;
}

.thebestyou{
    /* display: block; */
    color: white;
    line-height: 10px;
}

.thebestyouqx{
    /* display: block; */
    color: white;
    line-height: 10px;
}

.thebestyousss{
    /* display: block; */
    color: white;
    line-height: 10px;
    padding-left: 290px;
}

.thebestyous{
    /* display: block; */
    color: white;
    padding-left: 100px;
    line-height: 10px;
}

.thebestyousxs{
    /* display: block; */
    color: white;
    padding-left: 265px;
    line-height: 10px;
}


.thebestyouss{
    /* display: block; */
    color: white;
    line-height: 10px;
    margin-top: -10px;
}

.pricesthebest{
    display: flex;
    align-items: center;
    /* justify-content: right; */
    /* padding-left: 80px; */
    /* padding-right: 80px; */
    gap: 160px;

}

.pricesthebestssss{
    display: flex;
    align-items: center;
    justify-content: right;
    /* justify-content: right; */
    /* padding-left: 80px; */
    padding-right: 85px;
}

.pricesthebests{
    display: flex;
    align-items: center;
    justify-content: right;
    /* padding-left: 80px; */
    /* padding-right: 80px; */
    /* gap: 110px; */

}

.pricesthebestss{
    display: flex;
    align-items: center;
    justify-content: right;
    /* padding-left: 80px; */
    /* padding-right: 80px; */
    gap: 160px;

}




.mygoodness{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #262626;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.mygoodnesss{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #262626;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.mygoodnessss{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #262626;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.greatguyman{
    display: flex;
    justify-content: space-between;
    color: white;
}

.oboygood{display: flex;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px;
}

.oboygoodxs{display: flex;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px;
}

.oboygoods{
    padding-left: 100px;
    margin-top: 40px;
}

.oboygoodsssss{
    /* padding-left: 80px; */
    margin-top: 40px;
    /* padding-right: 80px; */
}

.youaregoodegbon{
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* border: 1px solid pink; */
    /* padding-left: 30px; */
} 

.youaregoodegbon{
    display: flex;
    justify-content: right;
    flex-direction: column;
    /* border: 1px solid pink; */
}

.constantinegood{ 
    display: flex;
    justify-content: right;
}