.starry1{
    display: flex;
    padding-top: 90px;
    gap: 5px;
    align-items: center;
}

.household{
    background-color: #141414;
    border: 0px;
    padding-top: 70px;
}

.hellos{
    background-color: #141414;
    display: flex;
    padding-right: 80px;
}

.discoveries{
    display: flex;
    flex-direction: column;
}

.ourjourney{
    margin-top: -80px;
}

.Discovery{
    background-color: #141414;
    color: white;
    padding-left: 80px;
    width: 670px;
    height: 622px;
}